.grid{
  border:4px solid black;
  font-family: sans-serif;
}

.column1 {
  border: 1px solid black;
}

.testing {
  border: 2px solid red;
}

.testingRow {
  border: 2px solid black;
}

.testingColumn {
  border: 2px solid blue;
}

.gridPractice {
  border: 3px solid red;
}
.layout {
  background-color: #555555;
}
.layout div {
  background-color: #999999;
}



/*added css for background...please do not move*/
