.loginForm {
  width: 15vw;
  float: right;
  margin-top: 2rem;
  margin-right: 2rem;
}

#logoutButton {
  background-color: blue;
}

.loginDropdown {
  text-align: right;
}

.listItems {
  background-color: black;
  float: right;
}
