/*login information*/

.loginForm {
  width: 15vw;
  float: right;
  margin-right: 2rem;
  margin-left: 2rem;
}

input {
  color: black;
}

h2, p {
  color: gray;
  font-size: 1.5rem;
  text-align: center;
  font-weight: lighter;
}
#logoutButton {
  background-color: blue;
  margin-left: 2rem;
  border: none;
}

#logoutButton:hover {
  background-color: white;
  color: #000;
}

.loginDropdown {
  text-align: right;
  margin-right: 2rem;
  margin-top: -7rem;
  font-weight: bolder;
  color: black;
}

.loginDropdown:focus {
  outline: none;
}

.listItems {
  background-color: transparent;
  float: right;
}

#dropdown-button {
  background-color: transparent;
  margin: 2rem;
  border: none;
  font-size: 2rem;
}

#dropdown-button:focus {
  outline: none;
}

#dropdown-button:hover {
  color: red;
}

li {
  color: white;
}

.login {
  color: black;
}

#logInfo {
  background-color: rgb(41, 24, 26);
}

#user {
  margin-top: 1rem;
}

.loginButton {
  background-color: white;
  color: black;
}

.loginButton:hover {
  background-color: orange;
  color: white;
}

/*end of login*/

/*BACKGROUND STYLES*/


body {
  background-color: rgb(225, 222, 227);
  overflow: scroll;
  font-family: 'Julius Sans One', sans-serif;
  font-weight: lighter;
}


img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin-top: 1rem;
}

/*clear button stuff*/

#clearDiv {
  margin-top: 2rem;
  width: 90vw;
  display: flex;
  justify-content: flex-end;


}

#clear {
  border: none;
  color: #000;
  background-color: transparent;
  font-family: 'Lato', sans-serif;
  font-size: 3rem;
  margin-right: 5rem;

}

#clear:hover {
  background-color: transparent;
  color: red;
}

#clear:focus {
  outline: none;
}

#clear:active {
  -webkit-filter: drop-shadow(5px 5px 2px black);
}
/*TWITTER CARD STUFF */

#profileImage {
  position: absolute;
  top: 0;
  left: 10px;
  z-index: 1;
  width: 55px;
  height: 55px;
  border: .25px solid #ccc;
  box-shadow: 4px 4px 4px #333;
  padding-bottom: .5rem;
}

#profileImage:hover {
  box-shadow: 10px 10px 20px #333;
  transform: scale(1.1,1.1);
}

#screenName a {
  position: relative;
  clear: both;
  margin: 0 auto;
  left: 22%;
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  margin-top: -4rem;
  width: max-content;
}

#screenName a:hover {
  text-decoration: underline;
  color: rgb(29,161,242);
  font-family: 'Lato', sans-serif;
}

#date {
  width: max-content;
  position: relative;
  z-index: 2;
  top: 5px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 10px;
  color: black;
  font-size: 1.5rem;

}

#tweetBody {
  position: absolute;
  top: 40%;
  width: 90%;
  height: 40%;
  font-family: 'Lato', sans-serif;

}
#tweetText span{
  font-size: 1em;
  font-family: 'Lato', sans-serif;
}

#twitCardHolder {
  background-color: white;
  text-align: left;
  padding-left: 2rem;
  padding-right: 2rem;
  -webkit-filter: drop-shadow(6px 6px 6px black);
}

twitCardHolder:active {
  -webkit-filter: drop-shadow(10px 10px 10px black);
}

#iconDiv {
  position: absolute;
  top: 5px;
  right: 25px;
  display: flex;
  align-content: flex-end;
  flex-direction: column-reverse;
  width: auto;
  font-size: 2rem;
  float: right;
  margin-right: -1rem;
}

#deleteButton {
  cursor: pointer;
  width: .8rem;
}

#deleteButton:hover {
  color:red;
}

#lock {
  cursor: pointer;
  width: 1rem;
}

#lock:hover {
  color:green;
}

#links {
  font-family: 'Lato', sans-serif;
  font-size: 10%vw;
  position: absolute;
  bottom: 5%;
}
#links:hover {
  color: rgb(29,161,242);
}

#twitterLogo {
  position: absolute;
  right: 5%;
  bottom: 5%;
  z-index: 1;
  text-align: center;
  font-size: 4rem;
  opacity: .3;
}
#twitterLogo:hover {
  color: rgb(29,161,242);
  opacity: 1; 
  }

#twitterLogo a:hover {
  color: rgb(29,161,242);
  opacity: 1; 
}



/*END OF TWITTER CARD STUFF*/



#bulldog {
  width: 9rem;
  height: 9rem;
  text-align: center;
  border-radius: 50%;
  background-color: white;
}
#bulldog2 {
  width: 3rem;
  height: 3rem;
  text-align: center;
  border: .5px solid gray;
  border-radius: 50%;
  background-color: white;
  margin-top: -3px;
  margin-right: 10px;
}
header {
  background-color: white;
  background-position: center;
  background-size:cover;
  text-align: center;
  padding-bottom: 2rem;
  font-weight: lighter;
  font-size: 3rem;
  color: white;
  border-bottom: 5px solid black;
}
#title {
  padding-top: 2rem;
  margin-top: 0rem;
  letter-spacing: 1rem;
  color: #000;
}

#keywordGet {
  font-family: 'Lato', sans-serif;
  font-size: 1.70rem;
  text-transform: uppercase;
}

.keywordInput {
  margin-top: 0vh;
  text-align: center;
  color: gray;
}

#inputKeyword {
  margin-bottom: 3vh;
  height: 5vh;
  width: 20vw;
  font-size: 2rem;
  text-align: center;
  background-color: transparent;
  color: black;
  border: 2px solid black;
}

#inputNumber {
  width: 8rem;
  height: 4rem;
  font-size: 3rem;
  font-family: 'Lato', sans-serif;
  text-align: center;
  margin-bottom: 2rem;

}

.searchButton {
  display: none;
}

input:focus {
  outline:none;
}
input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: white;
}
.social {
  margin-right: 25vw;
  margin-left: 25vw;
  height: 10vh;
  display: flex;
  justify-content: center;
}

.social-links {
  margin-top: 4vh;
  color: rgb(68, 67, 73);
  display: inline-block;
  list-style: none;
  background-color: white;

}

.github,.twitter,.facebook {
  color: gray;
  display: inline-block;
  font-size: 4rem;
  margin-right: 4rem;
}

.github:hover,.twitter:hover,.facebook:hover {
  color:#0892D0;
  cursor: pointer;
}
